<div class="row">
  <aside class="col-md-4">
    <h1>goal</h1>

      <%= link_to "Goal", goal_path %>

      <section class="goal">
        <%= render 'goals/goal' %>
      </section>


  </aside>
</div>

<div class="center jumbotron">
  <h1>achieve</h1>
  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),
              "https://rubyonrails.org/" %>
