<h1>Achieve your goals</h1>
<div class="row">
<% @goal.each do |goal| %>
  <div class="col-md-8">
  <%= link_to '今期目標', edit_goal_path(goal.id), method: :get , class: "btn" , id: "login"%>

    <%= render partial: 'goal/goal', locals: {goal: @goal} %>
    <% end %>
</div>
</div>
<div class="row">
<% @threemonths_goals.each do |threemonths_goal| %>
  <div class="col-md-8">
  <%= link_to '３ヶ月間目的', new_threemonths_goal_path(threemonths_goal.id), method: :get , class: "btn" , id: "login"%>

  <%= render partial: "threemonths_goal/show" , locals: {threemonths_goal: @threemonths_goal} %>



    <% end %>
</div>
</div>
